*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: Helvetica, sans-serif;
  padding: 1rem;
}

body, html {
  font-size: 16px;
  height: 100%;
  width: 100%;
  margin: 0;
}
.error {
  font-size: 0.8rem;
  color: #EE0000;
  margin-top: 0.25rem;
  animation: slide-down 0.3s backwards ease-in-out;
}
@keyframes slide-down {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
}
 input {
   text-align: center;
  padding: 13px 0;
  margin: 2px 0;
  font-size: 18px;
  display: block;
  width: 100%;
  height: 21px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
}
select {
  width: 100%;
  border: none;
  font-size: 21px;
  text-align: center;
  border-bottom: 1px solid grey;
  padding: 10px;
  margin-bottom: 3px;
}
.radio-wrapper {
  text-align: center;
}
.gender {
  color: grey;
}
.react-datepicker__input-container {
  width: 100%;
}
.fieldSuccess input {
  color: green;
  border-bottom: 1px solid green;
}
.fieldError input {
  color: red;
  border-bottom: 1px solid red;
}
label {
  display: block;
  font-size: 0.8rem;
  line-height: 1.4rem;
  font-weight: 600;
  color: grey;
}
form {
  margin: auto;
  width: 320px;
}
button {
  display: block;
  appearance: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  background: #169333;
  color: white;
  border: none;
  border-radius: 3px;
  margin: .8rem auto;
}
button:hover {
  background: #169444;
  cursor: pointer;
}
